【A25】基于大模型的语料库问答【万维艾斯】
发布时间： 2023-12-27 14:46:54
自动
1X
默认
00:00:16 / 00:04:29
1.命题方向
智能计算
2.题目类别
计算类
3.题目名称
基于大模型的语料库问答
4.背景说明
【整体背景】
通用型大型语言模型（LLM）已经在许多任务上取得了令人瞩目的成果。一些开源的大模型普遍是在百科、公共网络语料、开源代码库等数据上训练过的，知识分布虽然很全面，但是在一个与公众网络差距较大的领域，这类语言模型并没有包含足够的领域知识。在许多特定的垂直业务领域中，由于其与通用领域之间存在较大差异，直接采用开源的通用型LLM经常无法满足该领域应用的要求。如医学、智能制造、金融、旅游等特定领域，这些领域对于模型的要求更多地集中于对领域知识和偏好的深入理解。以旅游领域为例，该类数据是一个相对容易获取且具备较高的数据价值，围绕某一城市获取相关旅游数据并提供一个便捷的人机交互方式，对于文旅产业的发展以及实现城市智能旅游助手等方面有着重要的意义。
【公司背景】
江苏万维艾斯网络智能产业创新中心有限公司由江苏省高等学校优秀科技创新团队（南京大学人工智能推理与学习团队）投资的人工智能产品研发和产业化平台。公司是国内首批以人工智能技术创新为核心价值的高新技术企业，旨在提高人工智能产业的自主创新能力，努力打造一个集国际技术转移、技术研发、国际合作、科技创业、咨询培训功能于一体的创新创业平台。
【业务背景】
智能问答系统是江苏万维艾斯网络智能产业创新中心有限公司的一个业务方向。当前存在这样一个任务，基于目标城市，梳理文旅数据构建语料库，通过大模型技术实现基于大模型的语料库问答。
5.项目说明
【问题说明】
基于给定目标城市，城市可由参赛选手自己选择。通过网络、书籍等方法整理收集目标城市的文旅数据，包括但不限于城市的历史、名人、景点、饮食特色、热门店铺等信息，构建语料库，并基于大模型微调的相关技术方法，实现基于大模型的语料库问答系统。其中对于大模型的选择可以选取一些开源模型，如GLM、modelscope开源的GPT-3中文版本、LLaMA、BLOOM等。
【用户期望】
基于目标城市的文旅数据，构建语料库并进行大模型的微调，实现基于大模型的语料库问答系统。通过问答系统实现用户输入以下问题，问题示例如下：
请推荐XX城市的三个最热门的景点？
XX景点位于什么地方？
介绍一下XX景点的历史？
XX附近有什么推荐的小吃店铺？
该问答系统能够给出上述问题的回复。
6.任务要求
【开发说明】
收集目标城市的相关文旅数据，进行语料库的构建（方法不限），并基于语料库进行大模型微调，实现基于该语料库的问答系统。
【技术要求与指标】
(1)详细方案内容完备，具有可行性和先进性；
(2)模型支持至少两轮问答；
(3)具备大模型的基础问答能力和基于语料库的问答能力。考核方法基于用户提供的语料范围，编制问题，对模型进行提问，对模型问答能力进行评估；
(4)具有交互界面，可通过浏览器进行访问，页面的访问延迟和问答的响应延迟不超过10s；
(5)语料库数据不低于3000条。
【提交材料】
(1)项目概要介绍;
(2)项目简介PPT;
(3)项目详细方案;
(4)项目演示视频;
(5)企业要求提交的材料：
①语料库数据；
(6)团队自愿提交的其他补充材料。
【任务清单】
（1）完成算法设计与实验；
（2）完成提交材料内容。
【开发工具与数据接口】
（1）开发工具不限；
（2）数据接口待定。
7.其他
无
8.参考信息
无
9.评分要点
赛题评分要点见附件一：A 类企业命题初赛统一评分标准。

A15
1.命题方向
智能计算
2.题目类别
计算类
3.题目名称
基于知识图谱的大学生就业能力评价和职位推荐系统
4.背景说明
【整体背景】
高校毕业生是国家宝贵的人才资源，数据显示，2023届高校毕业生达1158万人，毕业生对自己就业能力的认知和精准提供就业信息，有利于实现就业选择与用人需求的双赢，达到精准有效，促进高校毕业生高质量充分就业。
大学生就业质量也是评价学校培养质量的重要组成部分，也是社会各界关注的焦点。目前，网络招聘是获取就业信息的重要途径，然而，当前网络招聘市场中的职位信息和求职者数量庞大，使得求职者面临信息过载问题，同时也给企业招聘带来效率低下问题。
因此，如何能够帮助求职者快速找到理想职位，并且让其知晓对于意向岗位自身知识和技能上的缺陷，找到短板，有针对性提升自我能力，同时降低企业和求职者的匹配成本，提高求职和招聘的效率，具有很好的实用价值和市场潜力。
【公司背景】
锐捷网络是行业领先的ICT基础设施及行业解决方案提供商，主营业务为网络设备、网络安全产品及云桌面解决方案的研发、设计和销售，作为中国数据通信解决方案领导品牌，已成为中国网络设备三大供应商之一。
目前，锐捷网络拥有8大研发中心，59个分支机构，8000余名员工（其中50%以上为技术人员），20000多家合作伙伴。作为国家首批“创新型企业”的代表，锐捷网络坚持自主创新，以“掌握核心技术，开发具有自主知识产权产品”为基本研发理念，每年持续将15%以上的销售收入投入研发，其中30%的研发费用投入技术预研。凭借“扎根行业、深入场景”的解决方案设计和创新理念，并利用云计算、SDN、移动互联、大数据、物联网、AI等技术，为各行业用户提供场景化的数字解决方案，锐捷网络共有自主研发产品400余款，覆盖了交换机、无线和物联网、云桌面、路由器、安全、网关、IT运维管理等10条产品线。这些贴近用户应用的创新成果，广泛应用于政府、运营商、金融、教育、医疗、互联网、能源、交通、商业、制造业等行业信息化建设领域。业务范围覆盖了亚洲、欧洲、美洲、非洲等30多个国家和地区。
在数字时代的潮头，锐捷将携手合作伙伴，以场景创新，驱动数字未来。
（锐捷网络[股票代码301165]和母公司星网锐捷[股票代码002396]均为深交所上市公司，星网锐捷为亚洲品牌500强 ）
【业务背景】
系统需实现岗位的智能推荐和胜任度评价，具有以下几方面的功能：
（1）知识图谱构建：职位推荐系统需要构建一个包含相关职位、技能要求、行业信息等多个领域知识的知识图谱。
（2）聚合和分析用户信息：与知识库相结合，对用户的个人简历、求职意向、工作经验等信息进行聚合和分析处理。根据用户提供的信息学习用户的兴趣和特征，并利用这些特征在知识图谱上匹配职位需求和其他相关信息。
（3）建立推荐模型：根据用户信息设计推荐算法和预测模型。通常来说，推荐算法有协同过滤、关键因素模型、深度学习模型等，具体选择应该根据实际情况来确定。
（4）推荐结果展示：将推荐结果呈现给用户，并支持用户进行选择和反馈。需要注意的是推荐结果的呈现方式也应该根据不同用户群体的需求和喜好来定制化。
5.项目说明
【问题说明】
实现一套大学生就业能力评价和智能岗位推荐系统，根据提供的岗位信息样例库，设计一套含智能算法的软件系统方案：基于知识图谱的岗位信息，利用职位和用户信息，结合推荐算法和相关技术，为用户提供符合其需求和兴趣的职位推荐结果和能力评价结果。
能力评价：用户上传个人简历，并明确自己期望的职位，系统自动判断用户与期望职位间的契合度，差异性，给出提升建议，让其知晓对于意向岗位自身知识和技能上的缺陷，找到短板，有针对性提升自我能力。
岗位推荐：用户上传个人简历，系统自动分析简历内容，生成推荐职位，用户可以给出推荐是否有效的反馈。如果不满意，可修订简历部分内容，重新进行推荐。
招聘推荐：企业招聘人员输入或上传职位要求，系统自动分析匹配求职人员简历，筛选出符合期望的人员列表。
【用户期望】
对开发的产品方案期望如下：
（1）算法优化合理，求职与招聘推荐结果与用户期望一致性高；
（2）胜任度能力评价结果合理，给出的提升建议符合用户短板；
（3）保护简历中个人数据的安全，不侵犯用户隐私；
（4）扩展功能：可以对注册用户的数据和操作行为进行统计分析，给出热门职位、热门技能、热门专业等的一些趋势图等。
6.任务要求
【开发说明】
本项目要求完成上述所有功能的软件系统，实现方法不限。
【技术要求与指标】
（1）推荐有效性达到80% 以上（用户调查：电子或计算机类相关专业毕业生简历与岗位样例库进行匹配）；
（2）系统数据库中个人隐私信息（姓名、手机、邮箱、通讯地址等至少4项）进行加密，只能被授权人员解密；
（3）架构设计上可并发支持1000人以上同时在线使用，推荐响应时间在5s以内；
（4）技术不限，开发工具不限，可采用开源技术。
【提交材料】
（1）项目概要介


【提交材料】
（1）项目概要介绍;
（2）项目简介PPT;
（3）项目详细方案;
（4）项目演示视频;
（5）企业要求提交的材料：
①项目详细方案中详述推荐算法；
②软件安装包；
③安装部署手册；
（6）团队自愿提交的其他补充材料。
【任务清单】
（1）完成需求分析与程序设计；
（2）编码开发与功能实现软件Demo；
（3）测试验证功能与性能等主要指标；
（4）洞察应用场景与市场机会。
【开发工具与数据接口】
无限制，自行选择
7.其他
无
8.参考信息
命题企业提供测试用的岗位信息（含专科、本科、研究生）样例库（csv文件，可用Excel打开），下载地址：链接：https://pan.baidu.com/s/1BsrKlVRbWe6i9DTUcOcGtg?pwd=vmeh 提取码：vmeh
9.评分要点
赛题评分要点见附件一：A 类企业命题初赛统一评分标准。


A05
1.命题方向
企业服务
2.题目类别
应用类
3.题目名称
基于用户行为数据的网站体验评分算法
4.背景说明
【整体背景】
随着互联网的快速发展和普及，网站已经成为信息获取、在线购物、社交互动等多种活动的重要平台。然而，由于网站数量巨大和内容复杂多样，如何有效地评估和优化网站体验成为一个迫切需要解决的问题。特别是在竞争激烈的商业环境下，优秀的网站体验不仅能吸引更多的用户，还能提高用户满意度和忠诚度，进而带来更高的商业价值，基于用户行为数据的网站体验评分算法是目前市场需求和技术发展趋势的有机结合，具有广阔的应用前景和商业潜力。
【公司背景】
尽微致广致力于作为PLG（Product-Led-Growth）模式在中国最早的践行者之一，致力于提升产品设计研发团队的整体效率及交付质量，从互联网行业的从业者、工具、资源、工作方式等不同角度出发，为各个体量的团队提供整体产品解决方案。旗下产品设计协作平台蓝湖，目前拥有600万用户，50万注册团队，在互联网头部公司渗透率超过98%。尽微致广计划通过这一评分算法，将数据分析与优秀的设计交付结合，以满足日益增长的市场需求，并推动公司业务到一个新的阶段。
【业务背景】
蓝湖科技有限公司作为一家专注于设计交付工具的企业，已经在IT和互联网行业内建立了较强的品牌影响力。
5.项目说明
【问题说明】
我们希望通过在一定时间内网站上获取到的完整用户行为会话数据，通过算法来判断出这段时间内这些会话中的体验问题，同时可以结合网站用户体验评分的模型来给网站一个用户体验分析报告。
【用户期望】
打开项目网页后：
（1）通过上传入口可以选择本地的多个用户行为会话数据文件（json）上传；
（2）等待算法分析，通过算法判断这段时间内这些会话中的体验问题；
（3）根据用户体验评分模型，输出网站的用户体验得分和分析报告。
6.任务要求
【开发说明】
（1）需要完成一个网页项目。
（2）有上传数据的入口，上传数据后给出体验得分和分析报告。
用户行为数据举例：
[点击] – （时间） - 元素
[输入] – （时间） - 内容
[访问] – （时间） - 链接
[点击] – （时间） - 元素
[滚动] – （时间） - 距离
[刷新] – （时间） - 链接
根据用户行为数据结合用户具体使用的页面内容，分析出产品的用户体验有哪些问题及打分。
例如：
问题一：用户找不到删除功能。
问题二：用户可能收不到验证码。
问题三：页面打开速度较慢，用户频繁刷新。
【技术要求与指标】
（1）体验分析报告需包含体验打分和详细的问题描述；
（2）判断出的体验问题描述准确度达到 90% 以上；
（3）判断出的体验问题数量覆盖度达到 90% 以上。
具体体验问题如下：
①点击无响应 ②跳出率较高 ③重复点击 ④页面打开慢
⑤点击后网络反馈慢 ⑥点击报错 ⑦页面加载报错
⑧页面加载白屏  ⑨多个同时出现
【提交材料】
（1）项目概要介绍；
（2）项目简介PPT；
（3）项目详细方案；
（4）项目演示视频；
（5）企业要求提交的材料：
①技术方案思路、方案DEMO（可包含进项目详细方案中）；
②项目演示结果（可包含进项目演示视频中）。
（6）团队自愿提交的其他补充材料。
【任务清单】
（1）网站UI界面；
（2）网站核心功能：
①批量上传行为数据；
②解析json格式的用户行为数据；
③网站体验评分算法；
④输入体验得分报告。
7.其他
无
8.参考信息
（1）开发工具建议: vscode
（2）相关参考信息: https://code.visualstudio.com/
（3）用户数据下载包（企业提供用户行为数据和对应的录屏）
9.评分要点
赛题评分要点见附件一：A 类企业命题初赛统一评分标准。